/*################这里是彩色条的div部分####################3*/
.colorbar01{
    background:#FF80AB;
    width:4%;
    height:100%;
    float: left;
}

.colorbar02{
    background:#F53477;
    width:6%;
    height:100%;
    float: left;
}

.colorbar03{
    background:#A4195C;
    width:3%;
    height:100%;
    float: left;
}

.colorbar04{
    background:#01ACE2;
    width:7%;
    height:100%;
    float: left;
}

.colorbar05{
    background:#44CCF2;
    width:5%;
    height:100%;
    float: left;
}

.colorbar06{
    background:#22B147;
    width:5%;
    height:100%;
    float: left;
}

.colorbar07{
    background:#018E42;
    width:5%;
    height:100%;
    float: left;
}

.colorbar08{
    background:#22B147;
    width:5%;
    height:100%;
    float: left;
}

.colorbar09{
    background:#CFDF6A;
    width:4%;
    height:100%;
    float: left;
}

.colorbar10{
    background:#FF9101;
    width:6%;
    height:100%;
    float: left;
}

.colorbar11{
    background:#608ECB;
    width:5%;
    height:100%;
    float: left;
}

.colorbar12{
    background:#437BD0;
    width:5%;
    height:100%;
    float: left;
}

.colorbar13{
    background:#20B6AD;
    width:4%;
    height:100%;
    float: left;
}

.colorbar14{
    background:#F53477;
    width:6%;
    height:100%;
    float: left;
}

.colorbar15{
    background:#E95D53;
    width:7%;
    height:100%;
    float: left;
}

.colorbar16{
    background:#619ED0;
    width:3%;
    height:100%;
    float: left;
}

.colorbar17{
    background:#E74C3C;
    width:4%;
    height:100%;
    float: left;
}

.colorbar18{
    background:#6F7A87;
    width:6%;
    height:100%;
    float: left;
}

.colorbar19{
    background:#5DD2ED;
    width:5%;
    height:100%;
    float: left;
}

.colorbar20{
    background:#F53477;
    width:5%;
    height:100%;
    float: left;
}

/*#################彩色条到这里结束#######################3*/